@import 'src/app/styles/variables';

:host{
  .search-bar-container{
    width: 30vw;
    margin-top: 16px;
    min-width: 576px;

    ::ng-deep{
      .mat-mdc-text-field-wrapper{
        background-color: $regal-blue;
      }
    }

  }

  @media screen and (max-width: 576px) {
    .search-bar-container {
      min-width: 200px;
    }
  }
}


