@import 'src/app/styles/variables';

.panel-header-container{
  display: flex;
  height: 6%;
  min-height: 43px;
  margin: 0px;
  background-color: $royal-blue;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  span {
    margin: auto 0px;
    margin-left: 24px;
    font-weight: 500;
    font-size: 24px;
  }
}
