<div class="panel-header-container">
  <ng-container *ngIf="!displayBackButton; else goBack">
    <span>
      {{ title }}
    </span>
    <mat-slide-toggle
      *ngIf="isCollectionMenu"
      [checked]="true"
      (change)="onToggleChanged($event)"
      >Shuffle Photos</mat-slide-toggle
    >
  </ng-container>
</div>

<ng-template #goBack>
  <div class="go-back-container">
    <button mat-button (click)="onClickedBackButton()">
      <mat-icon id="go-back-icon" fontIcon="arrow_back"></mat-icon>
      {{ goBackText }}
    </button>
  </div>
</ng-template>
