@import "src/app/styles/variables";

:host {
  mat-slider {
    width: 50%;
  }

  .slider-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 0;
      text-align: center;
    }
  }

  #header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    background-color: $royal-blue;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    h1 {
      margin: 0px;
    }

    #dialog-close-button {
      display: block;
      ::ng-deep {
        .mat-mdc-button-persistent-ripple {
          width: 36px;
          margin: auto;
          border-radius: 64px;
        }

        mat-icon {
          margin: auto;
          transform: scale(1.5);
          margin-top: 6px;
        }
      }
    }
  }

  #footer {
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    button {
      width: 100px;
      background-color: $royal-blue;
      &:nth-child(2) {
        margin-left: 16px;
      }
    }
  }
}

@media screen and (max-width: 507px) {
  #header{
    h1 {
      font-size: 20px;
    }
  }
  mat-slider {
    width: 80% !important;
  }
}
