@import "src/app/styles/variables";

.layout-container {
  height: 100%;
  background-color: $wisp-pink;

  .layout-content {
    display: flex;
  }
  .sidenav-container {
    background: $wisp-pink;

    .sidenav {
      padding: 16px;
      background-color: white;
    }

    .sidenav-content {
      height: 93.2vh;
      margin-left: 32px;
      margin-right: 32px;
      background-color: $wisp-pink;
    }
  }
}


@media screen and (max-width: 1669px) {
  .layout-container {
    .sidenav-content {
      margin-left: 32px !important;
      transition-delay: 1s;
    }
  }
}