@import 'src/app/styles/variables';

.layout-container{
  height: 100%;
  background-color: $wisp-pink;

  .layout-content{
    display: flex;
  }
  .sidenav-container{
    background: $wisp-pink;

    .sidenav{
      background-color: white;
    }

    .sidenav-content{
      height: 93.2vh;
      margin-left: 32px;
      margin-right: 32px;
      background-color: $wisp-pink;
    }
  }
}

