@import "src/app/styles/variables";

.panel-footer-container {
  margin: 0px;
  min-height: 43px;
  background-color: $royal-blue;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
