@import "src/app/styles/variables";

.header-container {
  display: flex;
  background-color: #3b8ce0;
  height: 10vh;
  max-height: 64px;
  min-height: 48px;

  #header-title {
    margin: auto;
    color: $wisp-pink;
    font-size: 24px;
    font-weight: bold;
  }

  button {
    margin: auto 0;
    margin-left: 24px;
  }

  #menu-icon {
    color: $wisp-pink;
    transform: scale(2);
  }
}
