<div
  [ngStyle]="{
    width: maxImageDimension.width + 'px',
    height: maxImageDimension.height + (photos.length * 8) + 'px',
    overflow: 'hidden'
  }"
  class="photo-stack"
>
  <div
    *ngFor="let photo of photos; let i = index"
    [ngStyle]="{ 'z-index': photos.length - i }"
  >
    <img
      [src]="photo.photoImageUrl"
      [ngStyle]="{
        top:  (i*8) + 'px',
        margin: '0',
        'box-shadow': '0px 5px 10px 2px rgba(0, 0, 0, 1)'
      }"
      class="image__img"
      mat-card-image
    />
    <div
      (click)="onClickImage()"
      [ngClass]="{ 'single-photo': photos.length === 1 , 'no_shuffle_image' : !shuffleOnClick}"
      [ngStyle]="{
        height: maxImageDimension.height + (photos.length * 8) + 'px'
      }"
      class="image__overlay image__overlay--primary"
    >
      <p>{{collection.collectionTitle}}</p>
    </div>
  </div>
</div>
