<div class="photos-container">
  <div class="top-container">
    <app-search-bar></app-search-bar>
  </div>
  <div class="bottom-container">
    <div class="photos-overview-container">
      <app-panel-header [title]="title"></app-panel-header>
      <div class="photos-content">
        <ng-container *ngFor="let photo of displayedPhotos">
          <app-photo-card [photo]="photo"> </app-photo-card>
        </ng-container>
      </div>
      <app-panel-footer
        [numberOfItems]="photos.length"
        [pageSize]="pageSize"
        (pageChanged)="onPageChanged($event)"
      >
      </app-panel-footer>
    </div>
  </div>
</div>
