@import 'src/app/styles/variables';

.photos-container{
  height: 88vh;

  .top-container{
    height: 10%;
    text-align: center;
  }

  .bottom-container{
    height: 88%;
    margin-top: 16px;
    display: flex;

    .photos-overview-container{
      width: 100%;
      background-color: white;
      border-radius: 16px;
    }

    .photos-content{
      height: 86%;
      display: flex;
      flex-wrap: wrap;
      flex: 6;
      gap: 20px 50px;
      overflow: auto;
    }
  }
}

