<div class="photos-container">
  <div class="top-container">
    <div>
      <app-search-bar
        (searchTermChange)="onSearchTermChange($event)"
      ></app-search-bar>
      <span *ngIf="displaySearchBarError"
        >Number of terms and filters don't match.</span
      >
    </div>
  </div>
  <div class="bottom-container">
    <div class="photos-overview-container">
      <app-panel-header
        [title]="title"
        [isCollectionMenu]="false"
      ></app-panel-header>
      <div
        scrollWatch
        (scrollReachedLowerBound)="updateDisplayedPhotos()"
        class="photos-content"
      >
        <div *ngFor="let columnWithPhotos of displayedPhotos">
          <ng-container *ngFor="let photo of columnWithPhotos">
            <app-photo-card
              [photo]="photo"
              (openedDetails)="onOpenedDetails($event)"
            >
            </app-photo-card>
          </ng-container>
        </div>
      </div>
      <app-panel-footer></app-panel-footer>
    </div>
  </div>
</div>
