@import "src/app/styles/variables";

.photos-container {
  height: 88vh;

  .top-container {
    margin-bottom: 8px;
    display: flex;

    div {
      display: inline-block;
      margin: auto;
      ::ng-deep {
        .mat-mdc-form-field-subscript-wrapper {
          display: none;
        }
      }

      span {
        display: block;
        margin-top: 8px;
        color: #c70000;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  .bottom-container {
    height: 88%;
    width: 68.4%;
    min-width: 1269.5px;
    display: flex;
    margin-top: 16px;
    margin: auto;

    .photos-overview-container {
      width: 100%;
      background-color: white;
      border-radius: 16px;
    }

    .photos-content {
      display: flex;
      flex-wrap: wrap;
      flex: 6;
      gap: 10px 10px;
      height: 88%;
      padding: 16px;
      overflow: auto;
    }
  }
}

@media screen and (max-width: 507px) {
  .photos-container {
    .bottom-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1336px) {
  .photos-container {
    .bottom-container {
      min-width: 451px;
    }
  }
}
