@import "src/app/styles/variables";

.photos-container {
  height: 85vh;
  margin-top: 64px;

  .bottom-container {
    height: 88%;
    width: 68.4%;
    min-width: 1269.5px;
    display: flex;
    margin-top: 16px;
    margin: auto;
  }

  .photos-overview-container {
    width: 100%;
    background-color: white;
    border-radius: 16px;

    .photo-details-container {
      height: 88%;
      padding: 16px;
      display: flex;
      overflow: auto;
      flex-wrap: wrap;

      .left-container {
        width: 70%;

        button {
          background-color: $royal-blue;
          margin-right: 10px;
          margin-bottom: 10px;
        }

        .image-container {
          margin-bottom: 16px;

          img {
            max-width: 100%;
            border-radius: 16px;
          }
        }

        .image-info {
        }
      }

      .right-container {
        width: 30%;

        h1 {
          color: $heavy-metal;
        }

        p {
          color: $heavy-metal;
        }
      }
    }
  }
}

@media screen and (max-width: 507px) {
  .photos-container {
    .bottom-container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1336px) {
  .photos-container {
    .bottom-container {
      min-width: 451px;

      .photo-details-container {
        .left-container {
          width: 100%;
        }

        .right-container {
          width: auto;
        }
      }
    }
  }
}
