<div class="photos-container">
  <div class="bottom-container">
    <div class="photos-overview-container">
      <app-panel-header title="title"></app-panel-header>
      <div class="photo-details-container">
        <div class="left-container">
          <div class="image-container">
            <img
              [src]="photo.photoImageUrl + '?w=650&h=650'"
              class="image__img"
              mat-card-image
            />
          </div>
          <div class="image-info">
            <app-photo-info [photo]="photo"></app-photo-info>
          </div>
        </div>
        <div class="right-container">
          <h1>Info from Web 3.0 👻</h1>
          <div *ngIf="additionalData | async as data">
            <h1>City</h1>
            <div *ngFor="let cityProp of data.get('city') | keyvalue">
              <p>{{cityProp.key | customCityCountryFormat | titlecase}}: </p>
              <p [innerHtml]="cityProp.value | linkify"></p>
            </div>
            <h1>Country</h1>
            <div *ngFor="let countryProp of data.get('country') | keyvalue">
              <div class="additional-info-box">
                <p>{{countryProp.key | customCityCountryFormat | titlecase}}: </p>
                <p [innerHtml]="countryProp.value | linkify"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-panel-footer></app-panel-footer>
    </div>
  </div>
</div>
