<div class="section-container">
  <span class="section-title">Stats</span>
  <div class="section-info">
    <label>Downloads</label>
    <span>{{photo.statsDownloads}}</span>
  </div>
  <div class="section-info">
    <label>Views</label>
    <span>{{photo.statsViews}}</span>
  </div>
</div>
<div class="section-container">
  <span class="section-title">Photographer</span>
  <div class="section-info">
    <label>Name</label>
    <span
      >{{photo.photographerFirstName + ' ' + photo.photographerLastName}}</span
    >
  </div>
  <div class="section-info">
    <label>Username</label>
    <span>{{photo.photographerUsername}}</span>
  </div>
</div>
<div class="section-container">
  <span class="section-title">Location</span>
  <div class="section-info">
    <label></label>
    <span></span>
  </div>
  <div class="section-info">
    <label></label>
    <span></span>
  </div>
  <div class="section-info">
    <label></label>
    <span></span>
  </div>
  <div class="section-info">
    <label></label>
    <span></span>
  </div>
  <div class="section-info">
    <label></label>
    <span></span>
  </div>
  <!-- photoLocationCity: string;
  photoLocationCountry: string;
  photoLocationLongitude: string;
  photoLocationLatitude: string;
  photoLocationName: string; -->
</div>
<div class="section-container">
  <span class="section-title">Specifications</span>
  <div class="section-info">
    <label></label>
    <span></span>
  </div>
</div>
