/* You can add global styles to this file, and also import other style files */

body{
  margin: 0px;
}



//Color pallete for nature themed photography
test{
  color: #40403C;
  color: #1C3E57;
  color: #3B8CE0;
  color: #91CDEC;
  color: #F0E8E6;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
