<div *ngIf="city" class="section-container">
  <span class="section-title">City 🏙</span>
  <div class="section-content">
    <div class="section-item">
      <label>Name: </label>
      <span>{{city.cityName | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Abstract: </label>
      <span>{{city.cityAbstract | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Country: </label>
      <span>{{city.cityCountry | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Area Code: </label>
      <span>{{city.cityAreaCode | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Total Population: </label>
      <span>{{city.cityPopulationTotal | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Population As Of: </label>
      <span>{{city.cityPopulationAsOf | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Postal Code: </label>
      <span>{{city.cityPostalCode | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Time Zone: </label>
      <span>{{city.cityTimeZone | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Type: </label>
      <span>{{city.cityType | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Website: </label>
      <span>{{city.cityWebsite | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Latitude: </label>
      <span>{{city.cityLat | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Longitude: </label>
      <span>{{city.cityLong | emptyString }}</span>
    </div>
  </div>
</div>

<div *ngIf="country" class="section-container">
  <span class="section-title">Country 🚩</span>
  <div class="section-content">
    <div class="section-item">
      <label>Name: </label>
      <span>{{country.countryName | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Currency: </label>
      <span>{{country.countryCurrency | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Total Population: </label>
      <span>{{country.countryPopulationTotal | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Time Zone: </label>
      <span>{{country.countryTimeZone | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Website: </label>
      <span>{{country.countryWebsite | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Latitude: </label>
      <span>{{country.countryLat | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Longitude: </label>
      <span>{{country.countryLong | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Official Language: </label>
      <span>{{country.countryOfficialLanguage | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Capital: </label>
      <span>{{country.countryCapital | emptyString }}</span>
    </div>
  </div>
  <div class="section-content">
    <div class="section-item">
      <label>Government Type: </label>
      <span>{{country.countryGovernmentType | emptyString }}</span>
    </div>
  </div>
</div>
