<div class="collections-container">
  <div class="top-container">
    <app-search-bar
      (searchTermChange)="onSearchTermChange($event)"
    ></app-search-bar>
  </div>
  <div class="bottom-container">
    <div class="collections-overview-container">
      <app-panel-header
        [title]="title"
        [isCollectionMenu]="true"
        (toggled)="onToggleChange($event)"
      ></app-panel-header>
      <div
        scrollWatch
        (scrollReachedLowerBound)="updateDisplayedCollections()"
        class="collections-content"
      >
        <div
          class="collection-list"
          *ngFor="let columnWithCollections of displayedCollections"
        >
          <ng-container *ngFor="let collection of columnWithCollections">
            <app-photo-stack
              [collection]="collection"
              [shuffleOnClick]="shuffleOnClick"
            >
            </app-photo-stack>
          </ng-container>
        </div>
      </div>
      <app-panel-footer></app-panel-footer>
    </div>
  </div>
</div>
