<div class="collections-container">
  <div class="top-container">
    <app-search-bar></app-search-bar>
  </div>
  <div class="bottom-container">
    <div class="collections-overview-container">
      <app-panel-header
        [title]="title"
        [displayBackButton]="true"
        (clickedBackButton)="onClickedBackButton()"
      ></app-panel-header>
      <div
        scrollWatch
        (scrollReachedLowerBound)="updateDisplayedPhotos()"
        class="collections-content"
      >
        <div *ngFor="let columnWithPhotos of displayedPhotos">
          <ng-container *ngFor="let photo of columnWithPhotos">
            <app-photo-card
              [photo]="photo"
            >
            </app-photo-card>
          </ng-container>
        </div>
      </div>
      <app-panel-footer></app-panel-footer>
    </div>
  </div>
</div>
